.stroke {
    text-decoration: line-through;
}

.delete-button {
    padding: 0;
    border: none;
    background: none;
    color: red;
}

.button-pos {
    position: relative;
    top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}